<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:context="http://www.springframework.org/schema/context"  
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"  
       
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    
    
   <!-- <bean id="hello" class="com.shahid.Hello" init-method="init" destroy-method="destroy" > remove prototype 
         
    </bean>
    -->
    
    <bean id="hello" class="com.shahid.Hello" >
         
    </bean>
    
    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" >
         
    </bean>
    
    <bean id="address1" class="com.shahid.Address" >
        <constructor-arg value="${address1.state}"></constructor-arg>
        <constructor-arg value="{address1.city}"></constructor-arg>
        <constructor-arg value="{address1.country}"></constructor-arg>
         
    </bean>
    
    <bean id="address2" class="com.shahid.Address" >
        <constructor-arg value="Shibalaya"></constructor-arg>
        <constructor-arg value="Manikganj"></constructor-arg>
        <constructor-arg value="Bangladesh"></constructor-arg>
         
    </bean>
    
    <context:annotation-config></context:annotation-config>
    <context:component-scan base-package="com.shahid"></context:component-scan>
    
   <!-- <bean id="e" class="com.shahid.Employee" > -->
    
      <!--  <property name="address">
            
            <ref bean="address1"></ref>
        </property>
        -->
       <!-- <property name="address1">
            <list>
                <ref bean="address1"></ref>
            </list>
             
        </property>
        -->
     <!--   <property name="address2" ref="address2"></property> -->
        
        
        <!-- after setter method ,first priorty -->
        
       <!--  <property name="name">
            
            <value>Shahidul islam</value>
            
        </property>
        
        <constructor-arg value="10" type="int"></constructor-arg>
        <constructor-arg value="Shahid" ></constructor-arg>
        
        <constructor-arg>
            <list>
                <ref bean="address1"></ref>
                <ref bean="address2"></ref>
            </list>
            
        </constructor-arg>
        
        
        -->
   <!-- </bean>-->
   
  <!--  <bean id="e2" class="com.shahid.Employee" parent="e"> -->
        
       <!-- <property name="address2" ref="address2"></property> -->
       
       <!-- <property name="address1">
            <list merge="true">
                <ref bean="address2"></ref>
            </list>
             
        </property>
        
    </bean>
  -->
    <!--<bean class="com.shahid.EmployeeBeanPostProcessor"></bean> -->
   <!-- <bean class="com.shahid.EmnployeeBeanFactoryPP"></bean> -->
   
   <!-- <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="com/shahid/address.properties"></property>
        
    </bean>
    -->
    
    <!-- <bean   class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" ></bean> -->
    
</beans>